.icon {
    border-radius: 9999px;
    box-sizing: border-box;
    width: 25%;
    position: relative;
    margin-top: -18%;
    margin-left: 4px;
    margin-bottom: -4px;
    cursor: pointer;
    border: 4px solid rgb(255, 255, 255);
    }