.main-header {
    width :598px;
    height :53px;
    display: flex;
    justify-content: start;
}
.headerbackclick {
    width: 59px;
    height: 53px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.backclick {
    width: 22.5px;
    height: 22.5px;
    color: rgba(29,161,242,1.00);
    float: left;
}
.usearnamecount {
    display: inline-block;
    width: 459px;
    height: 53px;
}
.username {
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    display: block;
}
.count {
    font-size: 13px;
    color: #657786;
    cursor: pointer;
    display: block;
}