.main {
  width :598px;
  height :100vh;
  border-right: 1px solid; 
  border-left: 1px solid; 
  border-color: rgb(230, 236, 240);
  margin: auto;
  }
  
  .headerimage {
    cursor: pointer;
  }
  .icon:hover {
    opacity: 0.9;
  }
  .main-visual {
    width :598px;
  }
  
  .main-messege {
    padding: 7px 15px 36px;
    margin: 0 0 15px;
    
    border-bottom: 1px solid;
    border-color: rgb(230, 236, 240);
  }
  
  .actionbutton {
    width: 568px;
    height: 49px;
    display: flex;
    justify-content: space-between ;
  }
  