.main {
  width :600px;
  height :1203px;
  }
  .main-header {
    width :598px;
    height :53px;
    
  }
  .usearname {
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    display: block;
  }
  .caunt {
    font-size: 13px;
    color: #657786;
    cursor: pointer;
    display: block;
  }
  .aicon {
    border-radius: 9999px;
    width: 25%;
    position: relative;
    margin-top: -18%;
    margin-left: 4px;
    margin-bottom: -4px;
    cursor: pointer;
    border: 4px solid rgb(255, 255, 255);
  }
  .headerimaje {
    cursor: pointer;
  }
  .aicon:hover {
    opacity: 0.9;
  }
  .main-visual {
    width :598px;
    height :53px;
    background-color: blue;
  }
  .id {
    color: #657786;
    font-size: 15px;
  }
  